/*carrusel*/
.carousel, .carousel-inner{
height: 30vh;
      background: rgb(0,59,147);
background: linear-gradient(90deg, rgba(0,59,147,1) 0%, rgba(0,114,152,1) 35%, rgba(0,212,255,1) 100%);
  z-index: 1;
}


.imgCarrusel{
    height: 30vh;
    opacity: 80%;
}
/*end carrusel*/

.logo{
    /*height: 16vw;*/
  height: 10vw;
  animation: logo 1s ease 0s 1 normal forwards;
}

.seccionFormulario{
    background-color: #FFFFFF;
    border-radius: 30px;
    box-shadow: -2px 7px 17px 4px rgba(0,0,0,0.44);
  /*margin-top: 10px;*/
    z-index: 2;
  margin-top: -10%;
    /*position: absolute;*/
}

@keyframes logo {
  0% {
    animation-timing-function: ease-in;
    opacity: 0;
    transform: scale(0);
  }

  38% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: scale(1);
  }

  55% {
    animation-timing-function: ease-in;
    transform: scale(0.7);
  }

  72% {
    animation-timing-function: ease-out;
    transform: scale(1);
  }

  81% {
    animation-timing-function: ease-in;
    transform: scale(0.84);
  }

  89% {
    animation-timing-function: ease-out;
    transform: scale(1);
  }

  95% {
    animation-timing-function: ease-in;
    transform: scale(0.95);
  }

  100% {
    animation-timing-function: ease-out;
    transform: scale(1);
  }
}

#TerminarRegistro{
  color: #F2F2F2;
  font-size: 1.7361111111111112vw;
  font-family: 'Ropa Sans', sans-serif;
  /*-webkit-text-stroke: .1vw black; !* width and color *!*/
      background: rgb(0,59,147);
background: linear-gradient(90deg, rgba(0,59,147,1) 0%, rgba(0,114,152,1) 35%, rgba(0,212,255,1) 100%);
}

#TerminarRegistro:hover{
  background: rgb(0,59,147);
background: linear-gradient(90deg, rgba(0,59,147,1) 0%, rgba(0,114,152,1) 0%, rgba(0,212,255,1) 100%);
}

.estiloLetras{
   font-family: 'Ropa Sans', sans-serif;
  font-size: 1.5vw;
 border-color: black;
}

.estiloLetras:focus{
  border-color: #00d4ff;
}


.inciaS{
  background: -webkit-linear-gradient(90deg, rgba(0,59,147,1) 0%, rgba(0,114,152,1) 35%, rgba(0,212,255,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /*color: #F2F2F2;*/
  font-size: 4vw;
  -webkit-text-stroke: .18vw black; /* width and color */
}

/*error inicio*/
.conte404{
  background: rgb(0,59,147);
background: linear-gradient(90deg, rgba(0,59,147,1) 0%, rgba(0,114,152,1) 35%, rgba(0,212,255,1) 100%);
  /*background-color: purple;*/
    border-radius: 100px;
    box-shadow: -2px 7px 17px 4px rgba(0,0,0,0.44);
  /*margin-top: 10px;*/
    z-index: 2;
  margin-top: -13%;
    /*position: absolute;*/
  text-align: center;
  user-select: none;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  width: 60vw;
  /*animation: margen-color-change 10s infinite;*/



/*!*animacion back*!*/
/*  background: linear-gradient(270deg, #34b493, #007298, #00d4ff);*/
/*    background-size: 600% 600%;*/

/*    -webkit-animation: AnimationName 12s ease infinite;*/
/*    -moz-animation: AnimationName 12s ease infinite;*/
/*    animation: AnimationName 12s ease infinite;*/
}

/*!*animacion back*!*/
/*@-webkit-keyframes AnimationName {*/
/*    0%{background-position:0% 50%}*/
/*    50%{background-position:100% 50%}*/
/*    100%{background-position:0% 50%}*/
/*}*/
/*@-moz-keyframes AnimationName {*/
/*    0%{background-position:0% 50%}*/
/*    50%{background-position:100% 50%}*/
/*    100%{background-position:0% 50%}*/
/*}*/
/*@keyframes AnimationName {*/
/*    0%{background-position:0% 50%}*/
/*    50%{background-position:100% 50%}*/
/*    100%{background-position:0% 50%}*/
/*}*/


.todo404{

  padding: 40px;
  margin: 2px;
  border-radius: 100px;
    background-color: #FFFFFF;
  opacity: 90%;
}
/*404*/
h1{
  font-size: 7rem;
  font-weight: 900;
  /*visibility: hidden;*/
  animation: color-change 10s infinite;
  margin-top: 80px;
}
/* cambio color 404*/
@keyframes color-change {


   0%,
  100% {
    color: #003b93 ;
  }

  10%,
  30%,
  50%,
  70% {
    color: #007298 ;

  }

  20%,
  40%,
  60% {
    color: #007298;
  }

  80% {
    color: #00d4ff;
  }

  90% {
    color: #00d4ff;

  }
}

/*Error 404: pagina no...*/
.conte404 p{
  margin-top: -3%;
  /*background-color: lightslategray;*/
  font-family: 'Ropa Sans', sans-serif;
  font-weight: 700;
  width: 100%;
  font-size: 3rem;
  /*color: #f4f4f4;*/
  /*animation: color-change 10s infinite;*/
  color: #007298;

}

.lupa{
  width: 30vw;
  /*height: 18vw;*/
  color: red;
  /*background-color: red;*/
  margin-top: -28%;
  margin-left: 6.6%;
  z-index: 3;
  animation: lupa 10s ease 0s infinite normal forwards;
}

/*cambio color lupa*/
@keyframes lupa {
  0%,
  100% {
    transform: translateX(0);
    color: #003b93 ;

  }

  10%,
  30%,
  50%,
  70% {
    transform: translateX(-200px);
    color: #007298 ;

  }

  20%,
  40%,
  60% {
    transform: translateX(180px);
    color: #007298 ;
  }

  80% {
    transform: translateX(8px);
    color: #00d4ff;
  }

  90% {
    transform: translateX(-8px);
    color: #00d4ff;
  }
}


/* boton*/
#IrA{
  color: #F2F2F2;
  font-size: 1.7361111111111112vw;
  /*height: 50px;*/
  font-family: 'Ropa Sans', sans-serif;
  /*animation: boton-color-change 10s infinite;*/
  margin-top: 40px;
    background: rgb(0,59,147);
background: linear-gradient(90deg, rgba(0,59,147,1) 0%, rgba(0,114,152,1) 35%, rgba(0,212,255,1) 100%);
}

/*cambio color boton*/
@keyframes boton-color-change {


   0%,
  100% {
     background-color: #003b93 ;
  }

  10%,
  30%,
  50%,
  70% {
     background-color: #007298 ;
  }

  20%,
  40%,
  60% {
    background-color: #007298;
  }

  80% {
     background-color: #00d4ff;
  }

  90% {
     background-color: #00d4ff;

  }
}



/*cambio color margen*/
@keyframes margen-color-change {


   0%,
  100% {
     /*background-color: #003b93 ;*/
    background: linear-gradient(90deg, rgba(0,59,147,1) 0%, rgba(0,114,152,1) 35%);


  }

  10%,
  30%,
  50%,
  70% {
     /*background-color: #007298 ;*/
     background: linear-gradient(90deg, rgba(0,114,152,1) 35%, rgba(0,212,255,1) 100%);
  }

  20%,
  40%,
  60% {
    /*background-color: #007298;*/
    background: linear-gradient(90deg, rgba(0,114,152,1) 35%, rgba(0,212,255,1) 100%);
  }

  80% {
     /*background-color: #00d4ff;*/
     background: linear-gradient(90deg,rgba(82,203,255,100) 35%, rgba(0,212,255,1) 100%);
  }

  90% {
     /*background-color: #00d4ff;*/
      background: linear-gradient(90deg,rgba(82,203,255,100) 35%, rgba(0,212,255,1) 100%);
  }
}

/*error fin*/


/*INICIO 404 2 PAGINA*/
.imagen404Error{
  height: 550px;
  width:  550px;
  animation: luna 38s ease 0s infinite normal forwards;
  margin-top: -40px;
  /*z-index: 2;*/

}

.contenedorImagen{
  z-index: 2;
}
/*animacion luna*/
@keyframes luna {
  0%,
  100% {
    transform: translateX(0);

  }

  10%,
  30%,
  50%,
  70% {
    transform: translateY(-100px);

  }

  20%,
  40%,
  60% {
    transform: translateX(100px);
  }

  80% {
    transform: translateY(40px);
  }

  90% {
    transform: translateX(40px);
  }
}

*{
  /*background-color: #003b93;*/
  /*background-color: #007298 ;*/

}

/*pagina no encontrada*/
.letras404{
  font-size: 3rem;
  font-weight: 700;
  font-family: 'Ropa Sans', sans-serif;
  letter-spacing: .55rem;
}

.letras4041{
  font-family: 'Ropa Sans', sans-serif;
  font-size: 1.5rem;
  font-weight: 200;
}

.icono404{
  height: 13.88888888888889vw;
  width:  13.88888888888889vw;
}

.contenedorDel404{
  display: flex;
  justify-content: center;
  align-items: center;

}

#IrA:hover{
  background: rgb(0,59,147);
  background: linear-gradient(90deg, rgba(0,59,147,1) 0%, rgba(0,114,152,1) 0%, rgba(0,212,255,1) 100%);
}

/*FIN 404 2 PAGINA*/



@media all and (max-width: 1000px) {
  #TerminarRegistro{
    font-size: 5vw;
  }

  .estiloLetras{
    font-size: 3.8vw;
  }

  .inciaS{
  font-size: 10vw;
    -webkit-text-stroke: .38vw black; /* width and color */
}

  .logo {
    height: 35vw;
    /*margin-top: -30%;*/
    justify-content: center;
  }

  .imagen404Error {
    height: 700px;
    width: 700px;
    margin-top: -300px;
  }

  #IrA {
    font-size: 5vw;
  }

  .letras404{
    font-size: 6vw;
    margin-top: 5vw;
  }

  .icono404{
    height: 35vw;
    width: 35vw;
  }

  .letras4041{
    font-size: 3.8vw;
  }
}